@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html {
  background: #fdf1ec;
}

.product-card {
  margin: 40px; /*margin is for space outside, padding is for space inside*/
  width: 620px;
  height: 220px;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

/* See if can keep proportions of original pic in square */
.product-card img {
  display: block;
  max-width: 220px;
  max-height: 100%;
  width: auto;
  height: auto;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 35px;
  padding-top: 25px;
}

.product-info p {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.product-info button {
  margin: 20px;
  height: 35px;
  width: 88px;
  border: transparent;
  font-size: 14px;
  color: #ffffff;
  background-color: #d18b6f;
  cursor: pointer;
}

.product-info button:hover {
  background-color: #dea792;
}

/* SEARCH BAR from https://www.w3schools.com/howto/howto_css_search_button.asp */
.search-bar {
  margin: 40px;
  display: flex;
  flex-direction: row;
  width: 620px;
  height:20px;
  font-family: 'Lato', sans-serif;
}

.search-bar input[type=text] {
  padding: 10px;
  font-size: 14px;
  width: 90%;
  height: 100%
  /* -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15); */
}

.search-bar button {
  float: right;
  width: 10%;
  height: 43px;
  /* padding: 20.7px; */
  background: #d18b6f;
  color: white;
  font-size: 14px;
  border: none; /* Prevent double borders */
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #dea792;
}

/* Clear floats */
.search-bar button::after {
  content: "";
  clear: both;
  display: table;
}
