

* {
	margin: 5px; 
	padding: 10px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

/*---------------------------------------------*/
a {
	font-size: 23px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}




/*//////////////////////////////////////////////////////////////////
[ Menu ]*/

.container-menu100 {
  width: 100%;  
  min-height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.wrap-menu100 {
  width: 700px;
  background: rgb(226, 232, 235);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/*==================================================================
[ Title ]*/
.menu100-title {

  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 25px 15px 25px 15px;
}

.menu100-title-1 {
  font-family: Poppins-Bold;
  font-size: 55px;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 7px;
}

.menu100-title-2 {
  font-family: Poppins-Regular;
  font-size: 25px;
  color: rgb(7, 7, 7);
  line-height: 1.5;
  text-align: center;
}

.menu100-title::before {

  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


/*==================================================================
[ Form ]

.menu100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 43px 88px 57px 190px;
}*/


/*------------------------------------------------------------------
/*----------------------------------------------------------------
[ Item Main Menu ]*/
.line-item-mainmenu {
  flex-grow: 1;
  height: 2px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
}

.line-item-mainmenu {
  display: none;
}

.price-item-mainmenu {
  padding-top: 2px;
} 

.name-item-mainmenu {
  width: 100%;
}

.info-item-mainmenu {
  color: #808080
}

.tit-mainmenu {
  padding-top: 2px;
}

.star{
  color: goldenrod;
  font-size: 2.0rem;
  padding: 0 1rem; /* space out the stars */
}
.star::before{
  content: '\2606';    /* star outline */
  cursor: pointer;
}
.star.rated::before{
  /* the style for a selected star */
  content: '\2605';  /* filled star */
}

.stars{
    counter-reset: rateme 0;   
    font-size: 2.0rem;
    font-weight: 900;
}
.star.rated{
    counter-increment: rateme 1;
}
.stars::after{
    content: counter(rateme) '/5';
}


.homeform { width: 100%; }
input[type="text"] { 
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;}

  input[type=text]:focus {
    border: 3px solid #555;
  }


  input[type=submit] {
    font-size: 10pt;
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
  opacity: 0.5;
  }


